@model Shopping.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-light text-center"> 
  <img src="~/Images/Dinos3D2.png" height="180px" />
 
      <h4 class="text-navy text-center">Your One Stop Shop Store</h4><br />
  
</div>
  <style type="text/css">
     
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 370px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 5px;
}

.card_title {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.card_body {
    padding: 10px;
}

.card_foot {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.foot a {
    text-decoration: none;
    color: white;
}

.foot a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""

}
  </style>
 


  @if(Model.Quantity > 0)
{
    <a asp-action="ShowCart" class="btn btn-outline-primary" style="border-radius:15px">Check Cart (@Model.Quantity)</a>
}



@foreach (var item in Model.Products)
{
    <div class="row">
        @if (item.Product1 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title"><h5> @item.Product1.Name</h5></div>
                    <div class="card_body">
                        <div class="text-center">
                        <img src="@item.Product1.ImageFullPath" style="height:150px; max-width:250px;" />
                        </div>
                        <p class="mt-2">
                            @item.Product1.Description
                            <h3>@Html.DisplayFor(modelItem => item.Product1.Price)</h3>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product1.Id" class="btn btn-sm  btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Product1.Id" class="btn btn-sm  btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product2 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title"><h5> @item.Product2.Name</h5></div>
                    <div class="card_body">
                          <div class="text-center">
                        <img src="@item.Product2.ImageFullPath" style="height:150px; max-width:250px;" />
                        </div>
                        <p class="mt-2">
                            @item.Product2.Description
                            <h3>@Html.DisplayFor(modelItem => item.Product2.Price)</h3>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product2.Id" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Product2.Id" class="btn btn-sm btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product3 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title"><h5> @item.Product3.Name</h5></div>
                    <div class="card_body">
                          <div class="text-center">
                        <img src="@item.Product3.ImageFullPath" style="height:150px; max-width:250px;" />
                        </div>
                        <p class="mt-2">
                            @item.Product3.Description
                            <h3>@Html.DisplayFor(modelItem => item.Product3.Price)</h3>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product3.Id" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Product3.Id" class="btn btn-sm  btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
        @if (item.Product4 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card_title"><h5> @item.Product4.Name</h5></div>
                    <div class="card_body">
                          <div class="text-center">
                        <img src="@item.Product4.ImageFullPath" style="height:150px; max-width:250px;" />
                        </div>
                        <p class="mt-2">
                            @item.Product4.Description
                            <h3>@Html.DisplayFor(modelItem => item.Product4.Price)</h3>
                        </p>
                    </div>
                    <div class="card_foot">
                        <a asp-action="Details" asp-route-id="@item.Product4.Id" class="btn btn-sm  btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Product4.Id" class="btn btn-sm  btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div> 
           
        }
    </div>
   
}

  
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  
}



