@model Shopping.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-light text-center">
    <img src="~/Images/Dinos3D2.png" height="150px" />
    <h4 class="text-navy text-center">Your One Stop Shop Store</h4><br />
</div>

@if (Model.Quantity > 0)
{
    <a asp-action="ShowCart" class="btn btn-outline-danger" style="border-radius:15px">Check Cart (@Model.Quantity)</a>
}

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">

   @if (Model.Products.Count() > 0)
    {
        @foreach (var item in Model.Products)
        {
           <div class="col">
                <div class="cardShop h-100">
                    <div class="text-center">
                        <p> <h5 class="card-title text-navy"> @item.Name</h5></p>
                        <div class="zoom">
                            <img src="@item.ImageFullPath" style="height:150px; max-width:150px;" />
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm  btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Id" class="btn btn-sm  btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No products found with your search</h3>
    }
</div>
     

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



