@model Shopping.ViewModels.HomeViewModel
 
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/modalImage.css" />

<div class="container-fluid bg-light text-center">
    <img src="~/Images/Dinos3D2.png" height="150px" />
    <h5 class="text-navy text-center">Your One Stop Shop Store</h5><br />
</div>

<div class="text-center mt-2">
    <h5 class="logintitle">SHOPPING CATEGORIES</h5>

    <div class="mb-2">
        @foreach (var item in Model.Categories)
        {
        
            <span> <a style="font-size: large; font-style: normal" href="@Url.Action("Index", "Home", new { searchString = item.Name})"> @item.Name&nbsp;</a></span>

        }
    </div>
</div>


<div class="mb-2">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Order by  Name</a>&nbsp;&nbsp;
    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Order by Price</a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by product name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-sm btn-warning" style="border-radius:15px" />
            <a asp-action="Index" class="btn btn-sm btn-success" style="border-radius:15px">View all Products</a>
        </p>
    </div>
</form>


@if (Model.Quantity > 0 )

    {
    <a asp-action="ShowCart" class="btn btn-sm btn-outline-danger" style="border-radius:15px"><i class="fa fa-cart-plus"></i> Items (@Model.Quantity) in your cart</a>
    }

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">

    @if (Model.Products.Count() > 0)
    {
        @foreach (var item in Model.Products)
        {
            <div class="col">
                <div class="cardShop h-100">
                    <div class="text-center">
                        <p> <h5 class="card-title text-navy"> @item.Name</h5></p>
                        <div class="zoom">
                            <img id="myImg" src="@item.ImageFullPath" style="height:150px; max-width:150px;" />
                        </div>
                    </div>
                    <div class="card-body">
                        @* <p class="card-text">@item.Description</p>*@
                        <p>
                            @{
                                if (item.Description != null)
                                {
                                    string[] noteWords = item.Description.Split(' ');
                                    if (noteWords.Count() > 7)
                                    {
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.Id)" aria-expanded="false" aria-controls="collapseSum@(item.Id)">
                                            @(string.Join(" ", noteWords.Take(7)) + "...")
                                        </a>
                                        <div class="collapse" id="collapseSum@(item.Id)">
                                            <div class="card card-body">
                                                @(string.Join(" ", noteWords.Skip(7)))
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Description)
                                        ;
                                    }
                                }
                            }
                        </p>
                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm  btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Id" class="btn btn-sm  btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <h3>No products found with your search</h3>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <div class="mt-5">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Products.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-sm btn-warning @prevDisabled" style="border-radius:15px">
            Previous Page
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Products.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-sm btn-success @nextDisabled" style="border-radius:15px">
            Next Page
        </a>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-img">
    <div id="caption"></div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("modal-img");
    var captionText = document.getElementById("caption");

    document.addEventListener("click", (e) => {
      const elem = e.target;
      if (elem.id==="myImg") {
        modal.style.display = "block";
        modalImg.src = elem.dataset.biggerSrc || elem.src;
        captionText.innerHTML = elem.alt;
      }
    })

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
</script>


}



